body{
    background-color: aquamarine;
    font-family: sans-serif;
    margin: auto;
}

header{
    color: navy;
    padding: 20px;
    
}
nav a{
    margin: 0 10px;
    text-decoration: none;
}
 
nav a:hover{
    text-decoration: underline;

}

.sect{
    display: block;
    margin: 30px auto;
    border: none;
    font-size: 20px;
    padding: 15px auto;
    width: 95%;
    border: 2px solid #ccc;
    
}

h1,h2{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

button{
    display: block;
    margin: 30px;
    font-size: 18px;
    cursor: pointer;
    background-color: aqua;
    
}

button:hover{
    background-color: burlywood;
}
footer{
    text-align: center;
    padding: 10px;
    font-size: 18px;
    background-color: cornflowerblue;
}